/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit, poppins, sans-serif;
  scroll-behavior: smooth;
}
body {
  background: white;
}
* span {
  color: #8c87c0;
}
* p {
  color: #b9b7d9;
}
* h2 {
  color: #605cc1;
}
* a {
  color: #2b2b2b;
}

/*--------------------------------------------------------------*/

/* PRE-PAGE */
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #000;
  display: grid;
  place-items: center;
  transition: opacity 5s, visibility 5s;
}
.fade {
  opacity: 0;
  visibility: hidden;
}

.logoLoad img {
  height: 100px;
  width: 100px;
  place-items: center;
}

/*--------------------------------------------------------------*/

/* HEADER */
header {
  width: 100%;
  position: absolute;
  top: -100%;
  animation: animNav 2s forwards 2.5s;
  margin-top: 20px;
}

#logo {
  float: left;
  margin-left: 100px;
}

#logo img {
  width: 50px;
}
.responsive-nav,
#toogle {
  display: none;
}
.full-screen a {
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}

.full-screen ul {
  list-style: none;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: right;
}

.full-screen ul li {
  margin-left: 100px;
}

/* ANIMATION HOVER */

.full-screen a:hover {
  transition: 0.3s ease-out;
  color: #605cc1;
}
/* MAIN */

/*--------------------------------------------------------------*/

/* BANNER */

#banner {
  width: 100%;
  height: 100vh;
  background-image: url(img/gradient.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  /*TEXTE*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

#text_banner {
  color: #2b2b2b;
  font-size: 50px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  left: -100%;
  animation: animText 2s forwards 2.5s;
}

/*--------------------------------------------------------------*/

/*  SECTION PROJET */
#projet {
  height: 100vh;
  width: 100%;
  background-color: #d9d9d9;
}
#projet h2 {
  text-align: center;
  padding-top: 70px;
  font-size: 27px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  padding: 50px;
}

.projet1 {
  grid-area: 1 / 1 / 2 / 2;
  height: 60vh;
  margin-top: 5%;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projet2 {
  grid-area: 1 / 2 / 2 / 3;
  height: 60vh;
  margin-top: 5%;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* INTERIEUR CARDS PROJETS */

.cardImg {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cardImg img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.textCard {
  padding: 2rem;
}

.textCard .desc {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #8c87c0;
}
.textCard .cardTitle {
  margin: 1rem 0;
  color: #2b2b2b;
}

.textCard .cardCont {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.link {
  height: 60px;
  width: 200px;
  align-self: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 5px;
}
.link a {
  margin: 2.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
/* HOVER CARDS */
.cardImg img:hover {
  filter: blur(1px);
  transform: scale(1.2);
}

/*--------------------------------------------------------------*/

/*  SECTION ABOUT */
#about {
  height: 100vh;
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}
.aboutDesc {
  padding: 50px;
  width: 50%;
  align-content: center;
}

.aboutDesc h2 {
  margin-left: 50px;
  font-size: 27px;
}
.aboutDesc p {
  margin: 50px;
  font-size: 18px;
  line-height: 30px;
}

.aboutImg {
  margin: 50px;
  padding-top: 5%;
}
.aboutImg img {
  height: 60vh;
  border-radius: 50%;
}
/*--------------------------------------------------------------*/

/*  SECTION CONTACT */
#contact {
  height: 100vh;
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*TEXT*/
.text {
  width: 400px;
  height: 400px;
  font-size: large;
  line-height: 50px;
  position: relative;
  top: 30%;
  left: -100%;
  animation: animText 2s forwards 2.5s;
}
.big {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* FORM */
.contact {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15%;
  right: -100%;
  animation: animForm 2s forwards 0.3s;
}

label {
  font-family: outfit, sans-serif;
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 10px;
}
.contactez-nous {
  width: 700px;
  padding: 0 50px 0 50px;
  background: rgba(128, 127, 127, 0.35);
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
}

textarea {
  background-color: #b9b7d9;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 12px 0 rgba(176, 192, 239, 0.2);
}

input {
  height: 50px;
  padding-left: 10px;
  background: #b9b7d9;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(176, 192, 239, 0.2);
  font-weight: 400;
}

#message {
  height: 195px;
  padding: 15px 0px 0px 10px;
}

button {
  color: #1b1b1b;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  background: #2b2b2b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ANIMATION HOVER */

button:hover {
  transition: 0.3s;
  color: #b9b7d9;
}

/*--------------------------------------------------------------*/

/* FOOTER */

#info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
}
#info ul {
  list-style: none;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

#info li a {
  color: #000;
  text-decoration: none;
}

.socials li {
  padding: 15px;
}

.logoF img {
  width: 30px;
  height: 28px;
}

.mentionsL li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 20px;
}

/*--------------------------------------------------------------*/

/* ANIMATIONS KEYFRAMES */
@keyframes animNav {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes animText {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}

@keyframes animForm {
  from {
    right: -100%;
  }
  to {
    right: 5%;
  }
}
/*--------------------------------------------------------------*/
/* MEDIA @ & RESPONSIVE */

/* mobile */

@media screen and (max-width: 991px) {
  /* HEADER */
  nav {
    height: 60px;
  }

  .full-screen {
    display: none;
    flex-direction: column;
    height: 220px;
    margin-top: 20px;
  }

  .responsive-nav {
    width: 30px;
    display: flex;
    float: right;
    margin: 0 100px;
    font-size: 40px;
    color: #2b2b2b;
    cursor: pointer;
  }
  #toogle:checked + .full-screen {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    width: 240px;
  }

  #logo {
    display: none;
  }

  .responsive-nav:hover {
    transition: 0.3s ease-out;
    color: #605cc1;
  }

  /* ABOUT*/

  .aboutDesc {
    padding: 50px;
    width: 50%;
    align-content: center;
  }
  .aboutDesc p {
    margin: 30px;
    font-size: 18px;
    line-height: 25px;
  }
  .aboutImg {
    margin: 50px;
  }
  .aboutImg img {
    height: 50%;
    border-radius: 50%;
  }

  /* CONTACT */
  #contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .contact {
    width: 50px;
    height: 75%;
    justify-content: center;
    animation: none;
    right: 20%;
    top: 55%;
  }
}

/*--------------------------- END ----------------------------*/
