/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background: rgb(163, 179, 191);
  background: linear-gradient(
    336deg,
    rgba(163, 179, 191, 1) 12%,
    rgba(235, 144, 196, 1) 74%,
    rgba(214, 180, 132, 1) 100%
  );
}

/*--------------------------------------------------------------*/

/* HEADER */
header {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: -100%;
  animation: animNav 2s forwards 0.3s;
  margin-top: 20px;
}

#logo {
  float: left;
  margin-left: 100px;
}

#logo img {
  width: 50px;
}

nav a {
  font-size: 14px;
  color: #2b2b2b;
  letter-spacing: 2px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: right;
}

nav ul li {
  margin-left: 100px;
}

/* ANIMATION HOVER */
nav a:hover {
  transition: 0.3s;
  color: #8c87c0;
}
/*--------------------------------------------------------------*/

#banner {
  width: 100%;
  height: 92vh;

  /*TEXTE*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

#text_banner {
  font-size: 50px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: absolute;
  left: -100%;
  animation: animText 2s forwards 2.5s;
  color: #2b2b2b;
}

#text_banner span {
  color: #8c87c0;
}

/*--------------------------------------------------------------*/

/* FOOTER */

#info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(239, 244, 247, 0.2);
  filter: blur(5%);
  backdrop-filter: blur(5px);
}
#info ul {
  list-style: none;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

#info li a {
  text-decoration: none;
  color: #2b2b2b;
}

.socials li {
  padding: 15px;
}

.logoF img {
  width: 30px;
  height: 28px;
}

.mentionsL li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  padding: 20px;
}

/*--------------------------------------------------------------*/

/* ANIMATIONS KEYFRAMES */
@keyframes animNav {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
@keyframes animText {
  from {
    left: -100%;
  }

  to {
    left: 7%;
  }
}

/*--------------------------------------------------------------*/
