/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

/*--------------------------------------------------------------*/

/* HEADER */
header {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: -100%;
  animation: animNav 2s forwards 0.3s;
  margin-top: 20px;
}

#logo {
  float: left;
  margin-left: 100px;
}

#logo img {
  width: 50px;
}

nav a {
  font-size: 14px;
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: right;
}

nav ul li {
  margin-left: 100px;
}

/* ANIMATION HOVER */
nav a:hover {
  transition: 0.3s;
  color: rgb(228, 147, 238);
}
/*--------------------------------------------------------------*/

/*TEXT*/
.text {
  width: 400px;
  height: 400px;
  font-size: large;
  line-height: 50px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}
.text div {
  position: relative;
  align-items: center;
  left: -100%;
  animation: animText 2s forwards 0.3s;
}

/*FORM*/
.contact {
  display: flex;
  justify-content: center;
  color: #303030;
  position: absolute;
  top: 100px;
  right: -100%;
  animation: animForm 2s forwards 0.3s;
}

label {
  font-family: sans-serif;
}
.contactez-nous {
  width: 700px;
  padding: 0 50px 0 50px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(228, 147, 238, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  right: -100%;
  animation: animForm 2s forwards 0.3s;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
}

textarea {
  background: #c9c9c9;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200;
  box-shadow: 0 2px 12px 0 rgba(228, 147, 238, 0.37);
}

input {
  height: 50px;
  padding-left: 10px;
  background: #c9c9c9;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(228, 147, 238, 0.37);
}

#message {
  height: 195px;
  padding: 15px 0px 0px 10px;
}

button {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 450px;
  max-width: 500px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  background: #b9b9b9;
  border-radius: 5px;
  color: #303030;
}

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #c9c9c9;

  bottom: -100;
  animation: animFooter 2s forwards 0.3s;
}
footer ul {
  list-style: none;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
footer .line {
  width: 50%;
  height: 1.5px;
  background-color: #737373;
  margin: 10px;
}
footer li a {
  text-decoration: none;
  color: #303030;
}

.container1 li {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  padding: 20px 40px 30px;
}

.socials li {
  padding: 15px;
}

.container2 li {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  padding: 20px;
}

/* ANIMATION HOVER */

.container2 li:hover {
  transition: 0.3s;
  color: rgb(156, 160, 160);
}
.container2 li a:hover {
  transition: 0.3s;
  color: rgb(156, 160, 160);
}

/*--------------------------------------------------------------*/

/* ANIMATIONS KEYFRAMES */
@keyframes animNav {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
@keyframes animText {
  from {
    left: -100%;
  }

  to {
    left: 10%;
  }
}

@keyframes animForm {
  from {
    right: -100%;
  }
  to {
    right: 10%;
  }
}

@keyframes animFooter {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}

/*--------------------------------------------------------------*/
